

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #f8f8f8;
  transform: translateX(100vw);
  pointer-events: none;
}

html.is-changing .transition-overlay {
  transition: transform 400ms ease-in-out;
}

html.is-animating .transition-overlay {
  transform: translateX(0vw);
}

html.is-rendering .transition-overlay {
  transform: translateX(0vw);
}

html.to-back {
  /* --overlay-direction: -1; */
}